*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Android / IntelliJ
.idea/
.gradle/
.kotlinn/
build/
out/

# Gradle
gradle/
gradlew
gradlew.bat

# Logs
*.log

# SO
.DS_Store
Thumbs.db
